.wmb-input {
    width: 100%;
    margin-bottom: 1em;
}

.wmb-input > div {
    width: 100%;
}

.metabox-location-advanced .wmb-input {
    display: flex;
    width: 100%;
    max-width: 760px;
}

.metabox-location-side  .wmb-input {
    display: block;
}

.metabox-location-advanced .wmb-input label {
    min-width: 200px;
}

.wmb-input-description {
    font-style: italic;
    margin: 0 0 0.5em 0;
}

.wmb-code-editor {
    border: 1px solid #ddd;
}